{% extends "base.html" %}

{% block content %}
	<div class="container">
		<div class="jumbotron">

			
				
	

<div class="col-md-6 offset-md-3"> 

  <form action="{% url "signup" %}" method="POST" class="form-group">
  {% csrf_token %}
  
  		
  			<h1 class="text-center">SignUp</h1>
  					{% if error %}
			<div class="alert alert-warning alert-dismissible fade show  " role="alert">
				 <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
				
			
			{{error}}
			</div>
			{% else %}

			
			
			{% endif %}
			


  		<label for="name">Name</label><br>
  		<input type="text" name="name" class="form-control">
  		<label for="email">Email</label><br>
  		<input type="email" name="email" class="form-control">
  		<label for="p1">Password</label><br>
  		<input type="password" name="p1" class="form-control">
  		<label for="p2">Confirm Password</label><br>
  		<input type="password" name="p2" class="form-control"><br>
	<div class="g-recaptcha" data-sitekey="6LcdVXgUAAAAABHGj06aXTlOkHqTzH4C6M7NEPWm"></div><br>
  		<input type="submit" class="bt btn-success btn-lg" name="btn">

  
  </form>
  </div>
	  	</div>

</div>	
	
<script src='https://www.google.com/recaptcha/api.js'></script>
	
{% endblock content %}