<!doctype html>
{% extends "base.html" %}
{% load staticfiles %}


{% block content %}
	


<div class="container-fluid">
	<h2 >{{post.title}}</h2>
	<p>{{post.text | linebreaksbr}}</p>
	{% if user.is_superuser %}
	    
		
	<a  href="{% url "edit" pk=post.pk%}"><img align="right" src="{% static "images/edit.png" %}" id="pluns" alt="AddPost" width="40px" height="40px"  ></a>
	{% else %}
       <a  href="{% url "edit" pk=post.pk%}"><img align="right" src="{% static "images/edit.png" %}" id="pluns" alt="AddPost" width="40px" height="40px"  ></a>

	{% endif %}
   <p align="right">Published on : {{post.pub_date}}</p>

	
</div>
	
{% endblock  %}

