<!DOCTYPE html>

{% extends "base.html" %}

{% block content %}
{% load staticfiles %}	
<link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
<html>
<head>

	</head>

<div class="bg">
	&nbsp;	

<h1 class="id1" align="center"> 	<a class="navbar-brand" href="{% url "index" %}">
 <img src="{% static "images/t.png" %}" class="d-inline-block align-center" width="80" height="80" alt="">
  </a>Django Blog</h1>

&nbsp;	
</div>

  
	<div class="container-fluid">
			
		&nbsp;	
		<div class="row">
		<div class="col-md-2">
			<h2>Latest Post</h2>
</div>	
			<a  href="{% url "create" %}"><img src="{% static "images/plus.png" %}" id="pluns" alt="AddPost" width="40px" height="40px"  ></a>&#9;

		
&nbsp;	
</div>
		{% for p in post  %}
<div class="row">
	        
				<div  class=" col-12 col-sm-12">
					<div class="jumbotron">	
				<a class="alert-success" href="{% url "details" p.id %}">
				<h3>{{p.title}}</h3></a>
			    
		
				<a class="alert-success" href="{% url "details" p.id %}">
					<p>{{p.body| linebreaksbr}}</p></a>
				<a href="{% url "details" p.id%}" class="text-muted">Read More</a>
				<p align="right">Published on : {{p.pub_date}}</p>
			<p>Posted by {{p.author}}</p>
			</div>
	
	</div>
		
</div>
{% endfor %}
	</div>

</body>

</html>  
{% endblock content %}

